name: Build pull request

on:
  pull_request:
    types: ["opened", "synchronize"]

jobs:
  build-pull-request:
    name: "Build pull request"
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{github.event.number}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.3
      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 18.12.1
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - run: npm run lint
      - run: npm run typecheck
      - name: Build storybook
        run: npm run build-storybook
      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: preview
          path: storybook-static
          retention-days: 1
      - name: Save pr number
        run: echo ${PR_NUMBER} > ./pr.txt
      - name: Upload pr number
        uses: actions/upload-artifact@v3.1.1
        with:
          name: pr
          path: ./pr.txt
          retention-days: 1
